:root {
    --btn: rgb(109, 255, 236);
    --btnColor: rgb(74, 80, 80);
    --shadow: rgb(102, 107, 107);

}

.formDisplay {
    background-color: rgb(196, 196, 196);
    text-align: center;
    margin: 0px 0% 0px 0%;
    border-radius: 5px 5px 5px 5px;
}
#title, #author, #pages {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10px 5px 3px 5px;
    border-radius: 5px;
    border: 0ch;
    width: 30%;
}
#pages {
    width: 10%;
}
#author {
    width: 20%;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(100, 111, 107);
}

/*button {
    margin: 10px 1vh 15px;
    border: 0ch;
    border-radius: 5px;
    width: 11vh;
    height: 4vh;
    background-color: var(--btn);
    color: var(--btnColor);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;  
}*/



html {
    background-color: rgb(196, 196, 196);
    font-family: 'Courier New', Courier, monospace;
}

.body {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding: 0px 20vh 0px 20vh; 
}

table {
    width: 100%;
    text-align: center;
    background-color: rgb(117, 138, 132);
    border: 1px;
    border-color: rgb(122, 140, 134);
    border-style: solid;
    border-radius: 0px 0px 5px 5px;
    overflow-x: auto;
    
}


table th {
    background-color: rgb(117, 138, 132);
  }
table tr {
    background-color: rgb(196, 196, 196);
}

@media only screen and (max-width: 850px) {
    .body {
        padding: 0px 0vh 0px 0vh;
        width: 100%; 
    }
    table {
        display: grid;
        grid-template-columns: auto;
    }
  }





  button {
    margin: 10px 1vh 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 11vh;
    height: 4vh;
    border: none;
    outline: none;
    color: #fff;
    background: var(--shadow);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg,  #282828, #424242, #636363, #c5c5c5, #808080, #515151, #2e2e2e);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 350%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(110, 146, 147);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}